/** @format */

.bj-menu {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
    border-bottom: $menu-border-width solid $menu-border-color;
    box-shadow: $menu-box-shadow;

    .menu-item {
        padding: $menu-item-padding-y $menu-item-padding-x;
        cursor: pointer;
        transition: $menu-transition;
        text-align: center;

        &:hover,
        &:focus {
            text-decoration: none;
        }

        &.is-disabled {
            color: $menu-item-disabled-color;
            pointer-events: none;
            cursor: default;
        }

        &.is-active,
        &:hover {
            color: $menu-item-active-color;
            border-bottom: $menu-item-active-border-width solid $menu-item-active-color;
        }
    }
}

.bj-submenu {
    display: none;
    position: relative;
}

.bj-submenu.menu-open {
    display: block;
}

.menu-vertical {
    flex-direction: column;
    border-bottom: 0px;
    border-right: $menu-border-width solid $menu-border-color;

    .menu-item {
        border-left: $menu-item-active-border-width solid transparent;

        &.is-active,
        &:hover {
            border-bottom: 0;
            border-left: $menu-item-active-border-width solid $menu-item-active-color;
        }
    }
}

.submenu-item {
    position: relative;
    border-bottom: $menu-item-active-border-width solid transparent;
}

.menu-horizontal {
    .bj-submenu {
        width: 100%;
        text-decoration: none;
        list-style: none;
        position: absolute;
        background: $white;
        padding: 0;
        z-index: 100;
        top: calc(100% + 8px);
        left: 0;
        border: $menu-border-width solid $menu-border-color;
        box-shadow: $submenu-box-shadow;
        text-align: center;

        .menu-item {
            color: #212529;
            &.is-active,
            &:hover {
                color: $menu-item-active-color;
            }
        }

        .menu-item {
            padding-top: $menu-item-padding-y;
            padding-bottom: $menu-item-padding-y;
            cursor: pointer;
            transition: $menu-transition;
            border-bottom: $menu-item-active-border-width solid transparent;
        }
    }
    .submenu-title {
        padding-right: 25px;
        position: relative;
        .icon-pullDown {
            position: absolute;
            width: 20px;
            height: 10px;
            right: 0px;
            top: 50%;
            transform: translateY(-50%);
            background: url('../../assets/icon/icon-pullDown.svg') no-repeat center;
            background-size: 100%;
        }
        .is-open.icon-pullDown {
            position: absolute;
            width: 20px;
            height: 10px;
            right: 0px;
            top: 50%;
            transform: translateY(-50%);
            background: url('../../assets/icon/icon-pullUp.svg') no-repeat center;
            background-size: 100%;
        }
    }
}

.menu-vertical {
    .bj-submenu {
        width: 100%;
        text-decoration: none;
        list-style: none;
        background: $white;
        padding: 0;
        z-index: 100;
        top: calc(100% + 8px);
        left: 0;
        border: $menu-border-width solid transparent;
        text-align: center;
    }

    .submenu-item {
        position: relative;
        border-bottom: $menu-item-active-border-width solid transparent;
        padding-bottom: 0;
        &.is-active,
        &:hover {
            border-bottom: $menu-item-active-border-width solid transparent;
        }

        .submenu-title {
            text-align: center;
            padding-bottom: $menu-item-padding-y;
            position: relative;
            .icon-pullDown {
                position: absolute;
                width: 20px;
                height: 10px;
                right: 10px;
                top: 50%;
                margin-top: -5px;
                transform: translateY(-$menu-item-padding-y/2);
                background: url('../../assets/icon/icon-pullDown.svg') no-repeat center;
                background-size: 95%;
            }
            .is-open.icon-pullDown {
                position: absolute;
                width: 20px;
                height: 10px;
                right: 10px;
                margin-top: -5px;
                top: 50%;
                transform: translateY(-$menu-item-padding-y/2);
                background: url('../../assets/icon/icon-pullUp.svg') no-repeat center;
                background-size: 95%;
            }
        }
    }

    .bj-submenu {
        .menu-item {
            color: #212529;
            &.is-active,
            &:hover {
                color: $menu-item-active-color;
                border-left: $menu-item-active-border-width solid transparent;
            }
        }
    }
}
