/** @format */

.tabs-horizontal {
    width: 100%;
    display: flex;
    height: 100%;
    flex-direction: column;

    .label {
        display: flex;
        width: 100%;

        .labelList {
            cursor: pointer;
            border-bottom: 2px solid #dddddd;
            padding: 10px 15px;
            &.is-active {
                color: $menu-item-active-color;
                border-bottom: 2px solid $menu-item-active-color;
            }
            &:hover {
                color: $menu-item-active-color;
            }
            &.is-disabled {
                color: $menu-item-disabled-color;
                pointer-events: none;
                cursor: not-allowed;
                pointer-events: none;
            }
        }
    }

    .tabs-content {
        flex: 1;
        width: 100%;

        .contentList {
            width: 100%;
            height: 100%;
            display: none;
        }

        .contentList-active {
            display: block;
        }
    }

    .placeholder {
        flex: 1;
        border-bottom: 2px solid #dddddd;
    }
}

.tabs-vertical {
    width: 100%;
    display: flex;
    height: 100%;
    .label {
        display: flex;
        flex-direction: column;
        text-align: left;
        height: 100%;
        .labelList {
            padding: 7px 30px;
            cursor: pointer;
            border-right: 2px solid #dddddd;

            &:hover {
                color: $menu-item-active-color;
            }
            &.is-active {
                color: $menu-item-active-color;
                border-right: 2px solid $menu-item-active-color;
            }
            &.is-disabled {
                color: $menu-item-disabled-color;
                pointer-events: none;
                cursor: not-allowed;
                pointer-events: none;
            }
        }
        .placeholder {
            flex: 1;
            border-right: 2px solid #dddddd;
        }
    }

    .tabs-content {
        flex: 1;

        .contentList {
            width: 100%;
            height: 100%;
            display: none;
        }

        .contentList-active {
            display: block;
        }
    }
}
